<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freeform testform</title>
</head>
<body>
    <h1>Freeform Test Form</h1>
    <form action='{{ffurl "/submit"}}' method="POST">
        $a: <input type="text" name='{{ffreg "$a"}}' value="Testval $a" />
        $b: <input type="text" name='{{ffreg "$b" "A" "B" "C"}}' title="A, B or C" value="B"/>
        $c: 
        <select name='{{ffreg "$c"}}'>
            <option value='{{ffadd "$c" "1"}}'>#1</option>
            <option value='{{ffadd "$c" "2"}}'>#2</option>
            <option value='{{ffadd "$c" "3"}}'>#3</option>
        </select>
        $d: 
        <label><input type="checkbox" name="$d" value='{{ffadd "$d" "vc1"}}'/>CB#1</label>
        <label><input type="checkbox" name="$d" value='{{ffadd "$d" "vc2"}}'/>CB#2</label>
        <label><input type="checkbox" name="$d" value='{{ffadd "$d" "vc3"}}'/>CB#3</label>
        <label><input type="checkbox" name="$d" value='illegal-4'/>CB#4 (illegal)</label>
 
        <input type="submit" name='{{ffreg "$submit1"}}' value="Submit 1" />
        <input type="submit" name='{{ffreg "$submit2"}}' value="Submit 2" />
        <br/>
        stamp: <input style="width: 60rem;" type="text" name='__ff' value="{{ffstamp}}"/> <!-- must be last -->
    </form>
</body>
</html>